<!--  lost cities drag and drop with JS -->

<!doctype html>

<html>
<head>
	
	<title>Codebreakers</title>
	
	<script src="static/pileActions.js"></script>
	
	<link type="text/css" rel="stylesheet" href="static/style.css">

</head>
<body>

	{% if session %}

	your email is {{session.email}}

	{% endif %}

	<br>

	{% if not session %}

	session does not exist

	{% endif %}

	<div class="pile" id="deck" draggable="true" ondragstart="startdrag(event)">
	</div>

	<div class="pile" id="pile1" ondrop="drop(event)" ondragover="allowdrop(event)">
	</div>

	<div class="pile" id="pile2" ondrop="drop(event)" ondragover="allowdrop(event)">
	</div>

	<div class="pile" id="pile3" ondrop="drop(event)" ondragover="allowdrop(event)">
	</div>

	<div class="pile" id="pile4" ondrop="drop(event)" ondragover="allowdrop(event)">
	</div>

</body>
</html>