<!-- signup.html -->

<html>

    <head>
        <title> -- Sign Up -- </title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>

    <body>
        <form action="/signupAction" method="POST">
            Username: <input type="text" name="username">
            <br>
            Password: <input type="password" name="password">
            Confirm Password: <input type="password" name="confirmpassword">
            <br>
            <input type="submit">
        </form>
    </body>

</html>