<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Appling</title>
        <link rel="stylesheet" href="/static/styles/splashStyle.css">
        <script src="static/scripts/manuscript.js"></script>
    </head>


    <body>

        <div id="topbar">

            {%if not session %}

            <a href="/signup">
                <span class="topbarSpan" id="signupSpan">
                    <span id="signupText" class="reverseSkew">Sign Up</span>
                </span>
            </a>

            <a href="/login">
                <span class="topbarSpan" id="loginSpan">
                    <span class="reverseSkew">Log In</span>
                </span>
            </a>

            {% else %}

            <a href="/logout">
                <span class="topbarSpan" id="loginSpan">
                    <span class="reverseSkew">Log Out</span>
                </span>
            </a>

            {% endif %}



            <span class="topbarSpan" id="nameSpan">
                C o d e b r e a k e r s
            </span>
        </div>
        <br>

        {% if session %}

	    <!-- Is the user logged in? put that code here.-->
        <button type="button" id="createGameButton" onclick="createGame()">Create Game</button>
        <br><br>
        <div id="waitingRoom">
            <!-- JS will populate a list of <a> tags, which each create a game with the waiting user -->
            <script>fillWaitingRoom();</script>
        </div>

        {% else %}

        <p>Log in or sign up in order to play.</p>


	    {% endif %}

       

    </body>


</html>
